In [1]:
import pandas as pd

In [3]:
pd.read_sql_table?

Signature:
pd.read_sql_table(
    table_name: 'str',
    con,
    schema: 'str | None' = None,
    index_col: 'str | list[str] | None' = None,
    coerce_float: 'bool' = True,
    parse_dates: 'list[str] | dict[str, str] | None' = None,
    columns: 'list[str] | None' = None,
    chunksize: 'int | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | Iterator[DataFrame]'
Docstring:
Read SQL database table into a DataFrame.

Given a table name and a SQLAlchemy connectable, returns a DataFrame.
This function does not support DBAPI connections.

Parameters
----------
table_name : str
    Name of SQL table in database.
con : SQLAlchemy connectable or str
    A database URI could be provided as str.
    SQLite DBAPI connection mode not supported.
schema : str, default None
    Name of SQL schema in database to query (if database flavor
    supports this). Uses default schema if None (default).
index_col : str or list of str, optional, default: None
    Column(s) to set as index(MultiIndex).
coerce_float : bool, default True
    Attempts to convert values of non-string, non-numeric objects (like
    decimal.Decimal) to floating point. Can result in loss of Precision.
parse_dates : list or dict, default None
    - List of column names to parse as dates.
    - Dict of ``{column_name: format string}`` where format string is
      strftime compatible in case of parsing string times or is one of
      (D, s, ns, ms, us) in case of parsing integer timestamps.
    - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
      to the keyword arguments of :func:`pandas.to_datetime`
      Especially useful with databases without native Datetime support,
      such as SQLite.
columns : list, default None
    List of column names to select from SQL table.
chunksize : int, default None
    If specified, returns an iterator where `chunksize` is the number of
    rows to include in each chunk.
dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

Returns
-------
DataFrame or Iterator[DataFrame]
    A SQL table is returned as two-dimensional data structure with labeled
    axes.

See Also
--------
read_sql_query : Read SQL query into a DataFrame.
read_sql : Read SQL query or database table into a DataFrame.

Notes
-----
Any datetime values with time zone information will be converted to UTC.

Examples
--------
>>> pd.read_sql_table('table_name', 'postgres:///db_name')  # doctest:+SKIP
File:      c:\program files\anaconda\lib\site-packages\pandas\io\sql.py
Type:      function

In [4]:
pd.read_excel?

Signature:
pd.read_excel(
    io,
    sheet_name: 'str | int | list[IntStrT] | None' = 0,
    *,
    header: 'int | Sequence[int] | None' = 0,
    names: 'SequenceNotStr[Hashable] | range | None' = None,
    index_col: 'int | str | Sequence[int] | None' = None,
    usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None,
    converters: 'dict[str, Callable] | dict[int, Callable] | None' = None,
    true_values: 'Iterable[Hashable] | None' = None,
    false_values: 'Iterable[Hashable] | None' = None,
    skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    parse_dates: 'list | dict | bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'dict[Hashable, str] | str | None' = None,
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    comment: 'str | None' = None,
    skipfooter: 'int' = 0,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
    engine_kwargs: 'dict | None' = None,
) -> 'DataFrame | dict[IntStrT, DataFrame]'
Docstring:
Read an Excel file into a ``pandas`` ``DataFrame``.

Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
read from a local filesystem or URL. Supports an option to read
a single sheet or a list of sheets.

Parameters
----------
io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method,
    such as a file handle (e.g. via builtin ``open`` function)
    or ``StringIO``.

    .. deprecated:: 2.1.0
        Passing byte strings is deprecated. To read from a
        byte string, wrap it in a ``BytesIO`` object.
sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed
    sheet positions (chart sheets do not count as a sheet position).
    Lists of strings/integers are used to request multiple sheets.
    Specify ``None`` to get all worksheets.

    Available cases:

    * Defaults to ``0``: 1st sheet as a `DataFrame`
    * ``1``: 2nd sheet as a `DataFrame`
    * ``"Sheet1"``: Load sheet with name "Sheet1"
    * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
      as a dict of `DataFrame`
    * ``None``: All worksheets.

header : int, list of int, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.
names : array-like, default None
    List of column names to use. If file contains no header row,
    then you should explicitly pass header=None.
index_col : int, str, list of int, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.

    Missing values will be forward filled to allow roundtripping with
    ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
    missing values use ``set_index`` after reading the data instead of
    ``index_col``.
usecols : str, list-like, or callable, default None
    * If None, then parse all columns.
    * If str, then indicates comma separated list of Excel column letters
      and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
      both sides.
    * If list of int, then indicates list of column numbers to be parsed
      (0-indexed).
    * If list of string, then indicates list of column names to be parsed.
    * If callable, then evaluate each column name against it and parse the
      column if the callable returns ``True``.

    Returns a subset of the columns according to behavior above.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use ``object`` to preserve data as stored in Excel and not interpret dtype,
    which will necessarily result in ``object`` dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
    If you use ``None``, it will infer the dtype of each column based on the data.
engine : {'openpyxl', 'calamine', 'odf', 'pyxlsb', 'xlrd'}, default None
    If io is not a buffer or path, this must be set to identify io.
    Engine compatibility :

    - ``openpyxl`` supports newer Excel file formats.
    - ``calamine`` supports Excel (.xls, .xlsx, .xlsm, .xlsb)
      and OpenDocument (.ods) file formats.
    - ``odf`` supports OpenDocument file formats (.odf, .ods, .odt).
    - ``pyxlsb`` supports Binary Excel files.
    - ``xlrd`` supports old-style Excel files (.xls).

    When ``engine=None``, the following logic will be used to determine the engine:

    - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
      then `odf <https://pypi.org/project/odfpy/>`_ will be used.
    - Otherwise if ``path_or_buffer`` is an xls format, ``xlrd`` will be used.
    - Otherwise if ``path_or_buffer`` is in xlsb format, ``pyxlsb`` will be used.
    - Otherwise ``openpyxl`` will be used.
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the Excel cell content, and return the transformed
    content.
true_values : list, default None
    Values to consider as True.
false_values : list, default None
    Values to consider as False.
skiprows : list-like, int, or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int) at the
    start of the file. If callable, the callable function will be evaluated
    against the row indices, returning True if the row should be skipped and
    False otherwise. An example of a valid callable argument would be ``lambda
    x: x in [0, 2]``.
nrows : int, default None
    Number of rows to parse.
na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values. By default the following values are interpreted
    as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
    'n/a', 'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is True, and ``na_values`` are specified,
      ``na_values`` is appended to the default NaN values used for parsing.
    * If ``keep_default_na`` is True, and ``na_values`` are not specified, only
      the default NaN values are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are specified, only
      the NaN values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
parse_dates : bool, list-like, or dict, default False
    The behavior is as follows:

    * ``bool``. If True -> try parsing the index.
    * ``list`` of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * ``dict``, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index contains an unparsable date, the entire column or
    index will be returned unaltered as an object data type. If you don`t want to
    parse some cells as date just change their type in Excel to "Text".
    For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

    Note: A fast-path exists for iso8601-formatted dates.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`to_datetime` as-needed.
date_format : str or dict of column -> format, default ``None``
   If used in conjunction with ``parse_dates``, will parse dates according to this
   format. For anything more complex,
   please read in as ``object`` and then apply :func:`to_datetime` as-needed.

   .. versionadded:: 2.0.0
thousands : str, default None
    Thousands separator for parsing string columns to numeric.  Note that
    this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.
decimal : str, default '.'
    Character to recognize as decimal point for parsing string columns to numeric.
    Note that this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.(e.g. use ',' for European data).

    .. versionadded:: 1.4.0

comment : str, default None
    Comments out remainder of line. Pass a character or characters to this
    argument to indicate comments in the input file. Any data between the
    comment string and the end of the current line is ignored.
skipfooter : int, default 0
    Rows at the end to skip (0-indexed).
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

engine_kwargs : dict, optional
    Arbitrary keyword arguments passed to excel engine.

Returns
-------
DataFrame or dict of DataFrames
    DataFrame from the passed in Excel file. See notes in sheet_name
    argument for more information on when a dict of DataFrames is returned.

See Also
--------
DataFrame.to_excel : Write DataFrame to an Excel file.
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Notes
-----
For specific information on the methods used for each Excel engine, refer to the pandas
:ref:`user guide <io.excel_reader>`

Examples
--------
The file can be read using the file name as string or an open file object:

>>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
       Name  Value
0   string1      1
1   string2      2
2  #Comment      3

>>> pd.read_excel(open('tmp.xlsx', 'rb'),
...               sheet_name='Sheet3')  # doctest: +SKIP
   Unnamed: 0      Name  Value
0           0   string1      1
1           1   string2      2
2           2  #Comment      3

Index and header can be specified via the `index_col` and `header` arguments

>>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
     0         1      2
0  NaN      Name  Value
1  0.0   string1      1
2  1.0   string2      2
3  2.0  #Comment      3

Column types are inferred but can be explicitly specified

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
       Name  Value
0   string1    1.0
1   string2    2.0
2  #Comment    3.0

True, False, and NA values, and thousands separators have defaults,
but can be explicitly specified, too. Supply the values you would like
as strings or lists of strings!

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               na_values=['string1', 'string2'])  # doctest: +SKIP
       Name  Value
0       NaN      1
1       NaN      2
2  #Comment      3

Comment lines in the excel input file can be skipped using the
``comment`` kwarg.

>>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
      Name  Value
0  string1    1.0
1  string2    2.0
2     None    NaN
File:      c:\program files\anaconda\lib\site-packages\pandas\io\excel\_base.py
Type:      function

In [48]:
data=pd.read_csv("./penguins_size.csv")
data.dtypes

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [8]:
data.describe() #non tiene conto dei null e calcola solo val numerici.

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

In [10]:
data.head(10)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

NaN nei dati. Dove trovo NaN nei valori di una tabella è perché pd è gestito da np che utilizza np.NaN, quelli che qui sono non numeri in realtà sono valori mancanti. Vanno gestiti

In [11]:
data.dropna?

Signature:
data.dropna(
    *,
    axis: 'Axis' = 0,
    how: 'AnyAll | lib.NoDefault' = <no_default>,
    thresh: 'int | lib.NoDefault' = <no_default>,
    subset: 'IndexLabel | None' = None,
    inplace: 'bool' = False,
    ignore_index: 'bool' = False,
) -> 'DataFrame | None'
Docstring:
Remove missing values.

See the :ref:`User Guide <missing_data>` for more on which values are
considered missing, and how to work with missing data.

Parameters
----------
axis : {0 or 'index', 1 or 'columns'}, default 0
    Determine if rows or columns which contain missing values are
    removed.

    * 0, or 'index' : Drop rows which contain missing values.
    * 1, or 'columns' : Drop columns which contain missing value.

    Only a single axis is allowed.

how : {'any', 'all'}, default 'any'
    Determine if row or column is removed from DataFrame, when we have
    at least one NA or all NA.

    * 'any' : If any NA values are present, drop that row or column.
    * 'all' : If all values are NA, drop that row or column.

thresh : int, optional
    Require that many non-NA values. Cannot be combined with how.
subset : column label or sequence of labels, optional
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include.
inplace : bool, default False
    Whether to modify the DataFrame rather than creating a new one.
ignore_index : bool, default ``False``
    If ``True``, the resulting axis will be labeled 0, 1, …, n - 1.

    .. versionadded:: 2.0.0

Returns
-------
DataFrame or None
    DataFrame with NA entries dropped from it or None if ``inplace=True``.

See Also
--------
DataFrame.isna: Indicate missing values.
DataFrame.notna : Indicate existing (non-missing) values.
DataFrame.fillna : Replace missing values.
Series.dropna : Drop missing values.
Index.dropna : Drop missing indices.

Examples
--------
>>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
...                             pd.NaT]})
>>> df
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Drop the rows where at least one element is missing.

>>> df.dropna()
     name        toy       born
1  Batman  Batmobile 1940-04-25

Drop the columns where at least one element is missing.

>>> df.dropna(axis='columns')
       name
0    Alfred
1    Batman
2  Catwoman

Drop the rows where all elements are missing.

>>> df.dropna(how='all')
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Keep only the rows with at least 2 non-NA values.

>>> df.dropna(thresh=2)
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Define in which columns to look for missing values.

>>> df.dropna(subset=['name', 'toy'])
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT
File:      c:\program files\anaconda\lib\site-packages\pandas\core\frame.py
Type:      method

In [12]:
data_no_nan=data.dropna() # restituisce un dataframe in cui sono rimossi tutti i record con almeno un NaN. Eliminazione brutale di tutte le righe "sporche"

In [13]:
data_no_nan

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [15]:
data.dropna(inplace=True) # non returna più nulla, ma modifica direttamente il data da cui chiamo la funzione. Rimuove dal dataframe originale i record con almeno un nan

In [18]:
data.head(10)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE

In [20]:
data.to_clipboard() #salva come se avessi fatto ctrl+c

In [22]:
data.to_json("./pinguini.json")

In [24]:
data=pd.read_csv("./penguins_size.csv")

In [25]:
data.columns

Index(['species', 'island', 'culmen_length_mm', 'culmen_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [26]:
cols= ['species', 'culmen_length_mm', 'culmen_depth_mm','flipper_length_mm', 'body_mass_g']

In [29]:
selected_data=data[cols].dropna()
selected_data.head()

  species  culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
0  Adelie              39.1             18.7              181.0       3750.0
1  Adelie              39.5             17.4              186.0       3800.0
2  Adelie              40.3             18.0              195.0       3250.0
4  Adelie              36.7             19.3              193.0       3450.0
5  Adelie              39.3             20.6              190.0       3650.0

In [31]:
selected_data.info() #ho perso pochi valori anche perchè il sesso ha molti valori NaN

<class 'pandas.core.frame.DataFrame'>
Index: 342 entries, 0 to 343
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            342 non-null    object
 1   culmen_length_mm   342 non-null    float64
 2   culmen_depth_mm    342 non-null    float64
 3   flipper_length_mm  342 non-null    float64
 4   body_mass_g        342 non-null    float64
dtypes: float64(4), object(1)
memory usage: 16.0+ KB

In [33]:
# tutti i pinguini di specie Adelie che pesano meno di 4000g
selected_data[(selected_data["species"]=='Adelie') & (selected_data["body_mass_g"]<4000)]

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,body_mass_kg
0,Adelie,39.1,18.7,181.0,3750.0,3.750
1,Adelie,39.5,17.4,186.0,3800.0,3.800
2,Adelie,40.3,18.0,195.0,3250.0,3.250
4,Adelie,36.7,19.3,193.0,3450.0,3.450
5,Adelie,39.3,20.6,190.0,3650.0,3.650
...,...,...,...,...,...,...
145,Adelie,39.0,18.7,185.0,3650.0,3.650
147,Adelie,36.6,18.4,184.0,3475.0,3.475
148,Adelie,36.0,17.8,195.0,3450.0,3.450
149,Adelie,37.8,18.1,193.0,3750.0,3.750
150,Adelie,36.0,17.1,187.0,3700.0,3.700

In [34]:
selected_data["body_mass_kg"]=selected_data["body_mass_g"]/1000
selected_data.head(5)

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,body_mass_kg
0,Adelie,39.1,18.7,181.0,3750.0,3.75
1,Adelie,39.5,17.4,186.0,3800.0,3.80
2,Adelie,40.3,18.0,195.0,3250.0,3.25
4,Adelie,36.7,19.3,193.0,3450.0,3.45
5,Adelie,39.3,20.6,190.0,3650.0,3.65

In [37]:
dati_selezionati=selected_data.rename(columns={"species":"specie", "culmen_length_mm":"lunghezza_becco_mm", 
                                               "culmen_depth_mm":"profondita_becco_mm", "flipper_length_mm":"lunghezza_pinna_mm", 
                                               "body_mass_g": "peso_g", "body_mass_kg": "peso_kg"})
dati_selezionati

,specie,lunghezza_becco_mm,profondita_becco_mm,lunghezza_pinna_mm,peso_g,peso_kg
0,Adelie,39.1,18.7,181.0,3750.0,3.750
1,Adelie,39.5,17.4,186.0,3800.0,3.800
2,Adelie,40.3,18.0,195.0,3250.0,3.250
4,Adelie,36.7,19.3,193.0,3450.0,3.450
5,Adelie,39.3,20.6,190.0,3650.0,3.650
...,...,...,...,...,...,...
338,Gentoo,47.2,13.7,214.0,4925.0,4.925
340,Gentoo,46.8,14.3,215.0,4850.0,4.850
341,Gentoo,50.4,15.7,222.0,5750.0,5.750
342,Gentoo,45.2,14.8,212.0,5200.0,5.200
343,Gentoo,49.9,16.1,213.0,5400.0,5.400

In [40]:
dati_selezionati["peso_kg"].to_numpy() #trasforma in array numpy

array([3.75 , 3.8  , 3.25 , 3.45 , 3.65 , 3.625, 4.675, 3.475, 4.25 ,
       3.3  , 3.7  , 3.2  , 3.8  , 4.4  , 3.7  , 3.45 , 4.5  , 3.325,
       4.2  , 3.4  , 3.6  , 3.8  , 3.95 , 3.8  , 3.8  , 3.55 , 3.2  ,
       3.15 , 3.95 , 3.25 , 3.9  , 3.3  , 3.9  , 3.325, 4.15 , 3.95 ,
       3.55 , 3.3  , 4.65 , 3.15 , 3.9  , 3.1  , 4.4  , 3.   , 4.6  ,
       3.425, 2.975, 3.45 , 4.15 , 3.5  , 4.3  , 3.45 , 4.05 , 2.9  ,
       3.7  , 3.55 , 3.8  , 2.85 , 3.75 , 3.15 , 4.4  , 3.6  , 4.05 ,
       2.85 , 3.95 , 3.35 , 4.1  , 3.05 , 4.45 , 3.6  , 3.9  , 3.55 ,
       4.15 , 3.7  , 4.25 , 3.7  , 3.9  , 3.55 , 4.   , 3.2  , 4.7  ,
       3.8  , 4.2  , 3.35 , 3.55 , 3.8  , 3.5  , 3.95 , 3.6  , 3.55 ,
       4.3  , 3.4  , 4.45 , 3.3  , 4.3  , 3.7  , 4.35 , 2.9  , 4.1  ,
       3.725, 4.725, 3.075, 4.25 , 2.925, 3.55 , 3.75 , 3.9  , 3.175,
       4.775, 3.825, 4.6  , 3.2  , 4.275, 3.9  , 4.075, 2.9  , 3.775,
       3.35 , 3.325, 3.15 , 3.5  , 3.45 , 3.875, 3.05 , 4.   , 3.275,
       4.3  , 3.05 , 4.   , 3.325, 3.5  , 3.5  , 4.475, 3.425, 3.9  ,
       3.175, 3.975, 3.4  , 4.25 , 3.4  , 3.475, 3.05 , 3.725, 3.   ,
       3.65 , 4.25 , 3.475, 3.45 , 3.75 , 3.7  , 4.   , 3.5  , 3.9  ,
       3.65 , 3.525, 3.725, 3.95 , 3.25 , 3.75 , 4.15 , 3.7  , 3.8  ,
       3.775, 3.7  , 4.05 , 3.575, 4.05 , 3.3  , 3.7  , 3.45 , 4.4  ,
       3.6  , 3.4  , 2.9  , 3.8  , 3.3  , 4.15 , 3.4  , 3.8  , 3.7  ,
       4.55 , 3.2  , 4.3  , 3.35 , 4.1  , 3.6  , 3.9  , 3.85 , 4.8  ,
       2.7  , 4.5  , 3.95 , 3.65 , 3.55 , 3.5  , 3.675, 4.45 , 3.4  ,
       4.3  , 3.25 , 3.675, 3.325, 3.95 , 3.6  , 4.05 , 3.35 , 3.45 ,
       3.25 , 4.05 , 3.8  , 3.525, 3.95 , 3.65 , 3.65 , 4.   , 3.4  ,
       3.775, 4.1  , 3.775, 4.5  , 5.7  , 4.45 , 5.7  , 5.4  , 4.55 ,
       4.8  , 5.2  , 4.4  , 5.15 , 4.65 , 5.55 , 4.65 , 5.85 , 4.2  ,
       5.85 , 4.15 , 6.3  , 4.8  , 5.35 , 5.7  , 5.   , 4.4  , 5.05 ,
       5.   , 5.1  , 4.1  , 5.65 , 4.6  , 5.55 , 5.25 , 4.7  , 5.05 ,
       6.05 , 5.15 , 5.4  , 4.95 , 5.25 , 4.35 , 5.35 , 3.95 , 5.7  ,
       4.3  , 4.75 , 5.55 , 4.9  , 4.2  , 5.4  , 5.1  , 5.3  , 4.85 ,
       5.3  , 4.4  , 5.   , 4.9  , 5.05 , 4.3  , 5.   , 4.45 , 5.55 ,
       4.2  , 5.3  , 4.4  , 5.65 , 4.7  , 5.7  , 4.65 , 5.8  , 4.7  ,
       5.55 , 4.75 , 5.   , 5.1  , 5.2  , 4.7  , 5.8  , 4.6  , 6.   ,
       4.75 , 5.95 , 4.625, 5.45 , 4.725, 5.35 , 4.75 , 5.6  , 4.6  ,
       5.3  , 4.875, 5.55 , 4.95 , 5.4  , 4.75 , 5.65 , 4.85 , 5.2  ,
       4.925, 4.875, 4.625, 5.25 , 4.85 , 5.6  , 4.975, 5.5  , 4.725,
       5.5  , 4.7  , 5.5  , 4.575, 5.5  , 5.   , 5.95 , 4.65 , 5.5  ,
       4.375, 5.85 , 4.875, 6.   , 4.925, 4.85 , 5.75 , 5.2  , 5.4  ])

In [41]:
# Funzioni di aggregazione
selected_data["body_mass_kg"].max() # SELECT MAX(body_mass_kg) FROM selected_data

6.3

In [42]:
selected_data["body_mass_kg"].mean()

4.201754385964913

In [43]:
selected_data["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [44]:
# quale è il peso medio di ogni specie di pinguino? Ovvero come fare un group by
selected_data[["species", "body_mass_kg"]].groupby("species").mean()

           body_mass_kg
species
Adelie         3.700662
Chinstrap      3.733088
Gentoo         5.076016

In [45]:
selected_data.groupby("species").mean() # raggruppa per specie e fa la media su ogni.

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,body_mass_kg
species,,,,,
Adelie,38.791391,18.346358,189.953642,3700.662252,3.700662
Chinstrap,48.833824,18.420588,195.823529,3733.088235,3.733088
Gentoo,47.504878,14.982114,217.186992,5076.016260,5.076016

In [52]:
#Ora vogliamo il peso medio dei pinguini aggregato per specie e per sesso.
data[["species", "sex", "body_mass_g"]].groupby(["species", "sex"]).mean()

                  body_mass_g
species   sex
Adelie    FEMALE  3368.835616
          MALE    4043.493151
Chinstrap FEMALE  3527.205882
          MALE    3938.970588
Gentoo    .       4875.000000
          FEMALE  4679.741379
          MALE    5484.836066

In [51]:
data[["species", "body_mass_g"]].value_counts()

species    body_mass_g
Adelie     3800.0         8
           3900.0         8
           3550.0         8
           3700.0         7
Gentoo     5550.0         6
                         ..
           4575.0         1
Adelie     4725.0         1
           4700.0         1
Chinstrap  3725.0         1
Gentoo     6300.0         1
Name: count, Length: 136, dtype: int64